<a href="https://colab.research.google.com/github/HatemMn/ETC_fraud_detection/blob/master/Copie_de_projetDataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mnaouer Hatem - Zili Amal - Ezzina Salma

---

Détection de fraude des transactions en ETC ( ethereum classic )

## Imports

In [ ]:
import pandas as pd
import io
from google.colab import files

Saving Dataset.csv to Dataset.csv

In [ ]:
##Chargement du dataset initial

In [ ]:
uploaded = files.upload()
df= pd.read_csv(io.BytesIO(uploaded['Dataset.csv']))
data= pd.read_csv("Dataset.csv")

In [ ]:
data

                                                    hash  ...  to_category
0      0x253ec84729f5c11437f5346830e6bdc9857171b16097...  ...          NaN
1      0xfa5f1d7715562adb1e408fdbbbbfc033ae4fadca1e07...  ...          NaN
2      0x37928f1d12ee769d0876695aaa815c13d705f8b1e376...  ...          NaN
3      0xaad886f331a2fb40495cdf5faa10882852fcd324f064...  ...          NaN
4      0x3dbe36fd1a1b01b5e1b343ff78ec1ec189feee5acf46...  ...          NaN
...                                                  ...  ...          ...
71245  0x3ea1ea78fe7107fa15f667266c66dc63786b6470dbd1...  ...          NaN
71246  0x29931318eac76fb7ec086cbfaee3d95994c554a466f4...  ...     Scamming
71247  0x71741c64fff59755c32e14e0fa53bc4a4ad51ff3545a...  ...          NaN
71248  0x28fb91f62b1948d044db2db46411ea0042473d158353...  ...     Scamming
71249  0xb74c8334a51097a94b1796ae16a85e009c355b58ceec...  ...          NaN

[71250 rows x 18 columns]

## Data cleaning

## Dropping unrelevant information

In [ ]:
data.drop(columns=['from_category', 'to_category']);

## Creating a new attribute to label the data as fraud / non_fraud

In [ ]:
for index, row in data.iterrows():
  data['fraud_flag']=row['from_scam'] or row['to_scam']

In [ ]:
#data = data.drop_duplicates()
#print(data[1:100])
dt = data[1:1000]
for index, row in dt.iterrows():
  if(row['value']==0):
    print(row['from_scam'],row['to_scam'])

0 1
0 1

In [ ]:
arr = data['from_address'].unique()
lolk = len(arr)
address_to_index = {}
for i in range(lolk):
        address_to_index[arr[i]] = i
#i = 34068

arr2 = data['to_address'].unique()
for j in arr2:
    if( j not in address_to_index.keys()):
        i+=1
        address_to_index[j] = i

In [ ]:
data.replace({"to_address": address_to_index},inplace=True)

In [ ]:
data.replace({"from_address": address_to_index},inplace=True)

In [ ]:
data

                                                    hash  ...  scam or not
0      0x253ec84729f5c11437f5346830e6bdc9857171b16097...  ...            1
1      0xfa5f1d7715562adb1e408fdbbbbfc033ae4fadca1e07...  ...            1
2      0x37928f1d12ee769d0876695aaa815c13d705f8b1e376...  ...            1
3      0xaad886f331a2fb40495cdf5faa10882852fcd324f064...  ...            1
4      0x3dbe36fd1a1b01b5e1b343ff78ec1ec189feee5acf46...  ...            1
...                                                  ...  ...          ...
71245  0x3ea1ea78fe7107fa15f667266c66dc63786b6470dbd1...  ...            1
71246  0x29931318eac76fb7ec086cbfaee3d95994c554a466f4...  ...            1
71247  0x71741c64fff59755c32e14e0fa53bc4a4ad51ff3545a...  ...            1
71248  0x28fb91f62b1948d044db2db46411ea0042473d158353...  ...            1
71249  0xb74c8334a51097a94b1796ae16a85e009c355b58ceec...  ...            1

[71250 rows x 19 columns]